body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face{
  font-family: 'Bicubik';
  src: url('../public/fonts/Bicubik.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family:'Bicubik';
  font-size:20px;
}
h1{
  font-size:32px;
}